<footer class="footer">
    <nav id="nav-footer">
        <ul id="nav-footer-items">
            <li id="nav-footer-item">
                <a href="https://oclock.io/">O'clock.io</a>
            </li>
            <li id="nav-footer-item">
                <a href="#">Mentions légales</a>
            </li>
            <li id="nav-footer-item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</footer>
</main>
</body>
</html>