<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Trombinoscope</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header id="header">
      <a href="/">
        <img
          src="https://oclock.io/images/logo-short.66184eb7.svg"
          alt="logo"
          id="logo"
        >
      </a>
      <h1>Trombinoscope</h1>
      <nav id="nav-header">
        <ul id="nav-header-items">
          <li id="nav-header-item">
            <a href="/promotions">Liste des promotions</a>
          </li>
          <li id="nav-header-item">
            <a href="/students">Liste des étudiants</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>