<%- include('./partials/header.ejs') %>

    <h1>Hello <%= username %></h1>

    <div class="container">
        <div class="card">
          <a href="/admin/addStudent" class="card-link">
            Ajouter un étudiant
          </a>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>