<%- include('./partials/header.ejs') %>

    <h1>Liste des promotions</h1>
    <ul>
        <% for (let promo of promos) {%>
            <li key="<%=promo.id%>">
                <a href="/promotion/5"><h4><%=promo.name%></h4></a>
            </li>
        <% } %>
    </ul>

<%- include('./partials/footer.ejs') %>